/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End of CSS reset*/

* {
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    color: #424242;
}

:root {
    --bg-color: #ecfeff;
    --sidebar-color: rgb(2, 132, 199);
    --light-letter: #fff;
    --header-bg-color: #f8fafc;
    --profile-icon-right-margin: 10px;
    --header-padding: 0.65rem;
}

button:hover {
    cursor: pointer;
}

body {
    background-color: var(--bg-color);
}

img {
    width: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: .55fr 2fr 1fr .1fr;
}

/*header*/

.header-container {
    grid-column: 2 / 4;
    background-color: var(--header-bg-color);
    --webkit-box-shadow: 0px 5px 29px 0px rgba(110,110,110,1);
    -moz-box-shadow: 0px 5px 29px 0px rgba(110,110,110,1);
    box-shadow: 0px 5px 29px 0px rgba(110,110,110,1);
}

.search-bar {
    display: grid;
    grid-template-columns: .2fr 2fr .5fr .2fr .5fr;
    grid-auto-flow: column;
    padding: var(--header-padding);
    align-items: center;
}

.search-btn,
.notification {
    background-color: var(--header-bg-color);
    border: none;
    width: 50px;
    justify-self: end;
}

.search-btn img,
.notification img {
    width: 30px;
}

.search-field {
    background-color: var(--bg-color);
    border: 1px solid rgba(42, 42, 42, .3);
    border-radius: 12.5px;
    height: 25px;
    padding: 2px 10px;
}

.search-bar .profile-icon {
    width: 3rem;
    justify-self: end;
    align-self: center;
    margin-right: var(--profile-icon-right-margin);
}

.username {
    font-size: 24px;
    font-weight: 900;
}

.header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: .75fr 3fr repeat(3, .75fr);
    padding: var(--header-padding);
}

.header .profile-icon {
    width: 4rem;
    justify-self: end;
    margin-right: var(--profile-icon-right-margin);
}

.greeting {
    font-weight: 600;
    align-self: center;
}

.user {
    font-size: 1.5rem;
    margin-top: .5rem;
}

.header-btn {
    background-color: var(--sidebar-color);
    color: var(--header-bg-color);
    font-weight: bold;
    height: 2rem;
    width: 6rem;
    padding: 2px 3px;
    place-self: center;
    border: none;
    border-radius: 1rem;
}

/*sidebar*/

.sidebar {
    background-color: var(--sidebar-color);
    grid-row:1 / 4;
    display: grid;
    grid-template-rows: 2fr repeat(11, 1fr);
}

.dashboard-title {
    place-self: center;
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    font-size: 2rem;
    font-weight: 900;
    color: #fff;
}

.dashboard-logo {
    display:grid;
    width: 40px;
    height: 40px;
    grid-template: 1fr 1fr / 1fr 1fr;
    margin-right: var(--profile-icon-right-margin);
    place-items: end;
}

.dashboard-logo .logo-elem {
    width: 18px;
    background-color: #fff;
}

.logo-elem:nth-child(1) {
    background-color: black;
    place-self: start;
    height: 21px;
}

.logo-elem:nth-child(2) {
    place-self: start end;
    height: 15px;
}

.logo-elem:nth-child(3) {
    place-self: end start;
    height: 15px;
}

.logo-elem:nth-child(4) {
    background-color: black;
    height: 21px;
}

.sidebar-buttons {
    place-self: start start;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    margin-left: var(--profile-icon-right-margin);
    border: none;
    background-color: var(--sidebar-color);
    color: #fff;
    font-size: 1.5rem;
}

.sidebar-buttons img {
    height: 100%;
    width: auto;
    margin-right: var(--profile-icon-right-margin);
}

.settings {
    grid-row: 9 / 10;
}

.support {
    grid-row: 10 / 11;
}

.privacy {
    grid-row: 11 / 12;
}

/*project container*/

.project-container {
     grid-row: 2 / 4;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: 5rem;
     padding: 1rem;
     gap: 1rem;
 }

 .project-title {
     grid-column: 1 / 3;
     place-self: center start;
     font-size: 2rem;
     font-weight: bold;
 }

 .projects {
    background-color: var(--header-bg-color);
    padding: 1rem;
    border-radius: 1rem;
    -webkit-box-shadow: 5px 5px 29px -5px rgba(110,110,110,1);
    -moz-box-shadow: 5px 5px 29px -5px rgba(110,110,110,1);
    box-shadow: 5px 5px 29px -5px rgba(110,110,110,1);
    display: grid;
    border-left: 1rem solid orange;
 }

 .project-header {
     font-size: 1.3rem;
     font-weight: 600;
 }

 .porject-btn-container {
     place-self: end end;
 }

 .prj-btn {
     background-color: var(--header-bg-color);
     border: none;
 }

 /* announcements*/

 .announcments {
     display: grid;
     grid-template-rows: 5rem 0.5fr;
     gap: 1rem;
     padding: 1rem;
 }

 .announcement-title {
     font-size: 2rem;
     font-weight: 600;
     align-self: center;
 }

 .announcement-container {
     display: grid;
     border-radius: 1rem;
     background-color: var(--header-bg-color);
     -webkit-box-shadow: 5px 5px 29px -5px rgba(110,110,110,1);
     -moz-box-shadow: 5px 5px 29px -5px rgba(110,110,110,1);
     box-shadow: 5px 5px 29px -5px rgba(110,110,110,1);
 }

 .announcement {
    padding: 1rem;
    border-bottom: 1px solid rgba(42, 42, 42, .3);
 }

 .announcement:last-child {
     border: none;
 }

 .announcement-header {
     font-size: 1.2rem;
     font-weight: 600;
     margin-bottom: 1rem;
 }

 /*ternding*/

.trending {
    display: grid;
    grid-template-rows: 4rem 6fr;
    padding: 1rem;
}

.trending-title {
    place-self: end start;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    }

.trending-container {
    display: grid;
    border-radius: 1rem;
    background-color: var(--header-bg-color);
    -webkit-box-shadow: 5px 5px 29px -5px rgba(110,110,110,1);
    -moz-box-shadow: 5px 5px 29px -5px rgba(110,110,110,1);
    box-shadow: 5px 5px 29px -5px rgba(110,110,110,1);
}

.trending-user {
    display: flex;
    padding: 0.5rem 1rem;
}

.trending-user:hover {
    cursor: pointer;
}

.trending-user img {
    margin-right: var(--profile-icon-right-margin);
}

.trending-name {
    font-weight: 600;
    margin-bottom: 0.3rem;
}

/*footer*/

.footer {
    background-color: #475569;
    color: var(--light-letter);
    width: 100%;
    height: 100%;
    grid-column: 1 / 4;
    place-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
}

.github-link {
    margin: 0 10px;
    color: var(--bg-color);
}